[Desktop Entry]
Type=Application
Version=1.0
Name=Olive
GenericName=Version Control GUI
Comment=Graphical User Interface for the Bazaar Version Control System
Icon=olive-gtk.png
Exec=/usr/bin/olive-gtk
Categories=Application;Development
