[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Olive
GenericName=Version Control GUI
GenericName[pl]=Klient graficzny Bazaar
Comment=Graphical User Interface for the Bazaar Version Control System
Comment[pl]=Graficzny interfejs dla systemu kontroli wersji Bazaar
Icon=olive-gtk.png
Exec=olive-gtk
Categories=Application;Development;RevisionControl;GTK;GNOME;
