Source: olive
Section: devel
Priority: optional
Maintainer: Szilveszter Farkas (Phanatic) <Szilveszter.Farkas@gmail.com>
Build-Depends: debhelper (>= 5.0.37.2), python-central (>= 0.5)
XS-Python-Version: current
Standards-Version: 3.7.2

Package: olive
Architecture: all
Depends: ${python:Depends}, bzr (>= 0.8.2), python-gtk2 (>= 2.8.6)
XB-Python-Version: ${python:Versions}
Description: Graphical User Interface for Bazaar Version Control System
 Olive provides an integrated GUI for the Bazaar Version Control System. It has
 a two-panel main window: one is for your bookmarks and in the other one you can
 browse your files.
 .
 Features: most bzr commands implemented, even the bzrk visualize tool is
 integrated.
 .
  Homepage: http://bazaar-vcs.org/Olive
