[Desktop Entry]
Type=Application
Version=1.0
Name=Olive Bazaar Branch Manager
Name[fr]=Gestionnaire de branche Bazaar Olive
GenericName=Version Control GUI
GenericName[pl]=Klient graficzny Bazaar
GenericName[fr]=Client graphique Bazaar
Comment=Graphical User Interface for the Bazaar Version Control System
Comment[pl]=Graficzny interfejs dla systemu kontroli wersji Bazaar
Comment[fr]=Interface graphique pour le gestionnaire de version Bazaar
Icon=olive-gtk
Exec=olive-gtk
Categories=Development;RevisionControl;
